body{
    font-family: Roboto;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0px 50px 100px 100px;
    /* margin: auto; */
    font-size: 18px;
}

#hero-text-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#hero-logo {
    font-size: 24px;
}

.header button {
    background-color: #3882f6;
    color:#f9faf8;
    flex: 0;
    width: 110px;
    padding: 8px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    margin-top: 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    min-width: fit-content;
}

.middle{
    display: flex;
    gap: 20px;
    /* background-color: lightskyblue; delete me */
    padding: 10px;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.middle .header-left {
    display: flex;
    flex-direction: column;
    /* background-color: bisque; delete me */
    flex: 1;
}

.header .img-ph {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex: 1;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}


.info{
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* background-color: maroon; delete me */
}

.boxes {
    /* background-color: salmon; delete me */
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
/* FIX ME!! */
.boxes .box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    /* flex: 1 0 120; */
    /* flex-basis: 120px; */
    width: 140px;
    /* justify-content: space-between; */
    overflow-wrap:break-word;
}

/* .boxes-item .box-text {
    flex: 0 0;
} */

.info .cube {
    background-color: white;
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 140px;
    width: 140px;
}
/* .info button {
    background-color: white;
    border: 3px solid #3882f6;
    border-radius: 8px;
    height: 120px;
    width: 120px;
} */

#info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    /* background-color: aquamarine; delete me */
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 5px;
}

.quote-text {
    text-align: left;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.author {
    font-weight: bold;
    text-align: right;
}
/* add a container */

.cta {
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */
    padding: 50px;
    flex: 1;
}

.cta-container {
    background-color: #3882f6;
    color: #f9faf8f9;
    display: flex;
    /* flex-direction: column; */
    /* padding: 20px; */
    width: 1510px;
    height: auto;
    justify-content: space-around;
    border-radius: 10px;
    /* margin: 25px 100px; */
}

.cta-text {
    /* font-weight: bold; */
    /* font-size: large; */
    flex: 5;
}
.cta button {
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    border-radius: 4px;
    color: #f9faf8;
    text-align: center;
    padding: 5px;
    width: 110px;
}

.footer {

}